
.task-form-container .task-form{
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;

}

.form-button-container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

  
  .input-label {
    font-size: var(--normal-text);
    font-weight: var(--weight-medium);
    color: var(--text-primary-color);
  }
  
  .status-select {
    border: 1px solid var(--border-default-color);
    border-radius: 4px;
    background: white;
    font-size: var(--normal-text);
    color: var(--text-primary-color);
    cursor: pointer;
    transition: all 0.2s ease;
    width: 100%;
    height: 30px;
    padding: 0 8px; /* Remove vertical padding since height is fixed */
    box-sizing: border-box; /* Include padding and border in height calculation */
  }
  
  .status-select:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
  }
  
  .status-select:hover {
    border-color: var(--primary-color);
  }