.searchbar-container {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 12px;
  width: 18px;
  height: 18px;
  color: #555;
}

.search-input {
  width: 100%;
  padding: 10px 14px 10px 40px; 
  font-size: var(--normal-text);
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border 0.2s ease;
}

.search-input:focus {
  border-color: var(--primary-color);
}
