.header-container{
    background-color: var(--primary-color);
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 8px 19px;
    font-size: var(--heading-text);
}