.category-wrapper {
  margin-bottom: 20px;
}

.category-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--secondory-color);
  border-radius: 3px;
  cursor: pointer;
  height: 36px;
  padding: 14px 10px;
}


.chevron {
  width: 20px;
  height: 20px;
  color: var(--primary-color);
}
.category-content {
  margin-top: 12px;
}
